Happy coding 😀

Durante la clase de pair programming de ayer nos creamos nuestra primerita BBDD desde cero en Workbench. En el ejercicio de hoy volveremos a crear esa misma BBDD, pero esta vez desde Python.
📌 NOTA Cambiad el nombre de la BBDD a mi_primerita_BBDD_Python
📌 NOTA Cuando creeis las distintas tablas de vuestra BBDD repetereis la mismas lineas de código una y otra vez. Para evitar esto, crearos una función que nos sirva para crear tablas independientemente del contenido de la tabla. La función recibirá como parámetros:
                    -Contraseña de la conexión al servidor.
                    -Query para crear la tabla.
A modo de recap de lo que contenía la BBDD:

In [7]:
import mysql.connector

In [2]:
#Creamos una BBDD nueva, cambiar el nombre de alguna, no nos lo permite
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


cursor = cnx.cursor()
try:
    cursor.execute("CREATE DATABASE mi_primerita_BBDD_Python")
    print(cursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

cursor.close()
cnx.close()

MySQLCursor: CREATE DATABASE mi_primerita_BBDD_Python

In [4]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='mi_primerita_BBDD_Python')


cursor = cnx.cursor()
try:
    cursor.execute ("""CREATE TABLE IF NOT EXISTS Zapatillas(
    idZapatillas int NOT NULL AUTO_INCREMENT PRIMARY KEY,
    Modelo varchar(45) NOT NULL,
    Color varchar(45) NOT NULL,
    Talla int NOT NULL)""")
    print(cursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

cursor.close()
cnx.close()

#Hemos tenido que adjudicar una clave primaria, no nos dejaba crear la tabla en caso contrario

MySQLCursor: CREATE TABLE IF NOT EXISTS Zapatillas(
 ..

In [6]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='mi_primerita_BBDD_Python')


cursor = cnx.cursor()
try:
    cursor.execute ("""CREATE TABLE IF NOT EXISTS Clientes
    (idEmpleado int NOT NULL AUTO_INCREMENT PRIMARY KEY,
    Nombre varchar(45) NOT NULL,
    Numero_telefono int(9) NOT NULL,
    Email varchar(45) NOT NULL,
    Direccion varchar(45) NOT NULL,
    Ciudad varchar(45) NOT NULL,
    Provincia varchar(45) NOT NULL,
    Pais varchar(45) NOT NULL,
    Codigo_postal int(9) NOT NULL)""")
    
    print(cursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cursor.close()
cnx.close()

MySQLCursor: CREATE TABLE Clientes
    (idEmpleado in..

In [8]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='mi_primerita_BBDD_Python')


cursor = cnx.cursor()
try:
    cursor.execute ("""CREATE TABLE IF NOT EXISTS Empleados
    (idEmpleado int NOT NULL AUTO_INCREMENT PRIMARY KEY,
    Nombre varchar(45) NOT NULL,
    Tienda varchar(45) NOT NULL,
    salario float,
    fecha_incorporacion datetime NOT NULL)""")
    
    print(cursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cursor.close()
cnx.close()

MySQLCursor: CREATE TABLE IF NOT EXISTS Empleados
   ..

In [6]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='mi_primerita_BBDD_Python')


cursor = cnx.cursor()
try:
    cursor.execute ("""CREATE TABLE Facturas(
    idFactura int NOT NULL AUTO_INCREMENT PRIMARY KEY,
    idEmpleado int NOT NULL,
    idCliente int NOT NULL,
    idZapatillas int NOT NULL,
    Fecha datetime NOT NULL,
    Total float NOT NULL,
    CONSTRAINT idEmpleado FOREIGN KEY (idEmpleado) REFERENCES Empleados (idEmpleado) ON DELETE cascade,
    CONSTRAINT idCliente FOREIGN KEY (idCliente) REFERENCES Clientes (idEmpleado) ON DELETE cascade,
    CONSTRAINT idZapatillas FOREIGN KEY (idZapatillas) REFERENCES Zapatillas (idZapatillas) ON DELETE cascade
    )""")
    
    print(cursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cursor.close()
cnx.close()

#📌 NOTA En esta última tabla tendremos que incluir todos los CONSTRAINTnecesarios para establecer los relaciones entre las tablas, donde #tendremos que especificar:
#Foreign Key
#References

MySQLCursor: CREATE TABLE Facturas(
    idFactura int..

In [8]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='mi_primerita_BBDD_Python')


cursor = cnx.cursor()
try:
    cursor.execute ("""ALTER TABLE Clientes RENAME COLUMN idEmpleado TO idCliente""")

    
    print(cursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cursor.close()
cnx.close()

#Hemos cambiado el nombre para que aparezca igual en la tabla en la que se referencia como FK, en el enunciado de la creación, 
# se llamaba diferente

MySQLCursor: ALTER TABLE Clientes RENAME COLUMN idEmp..