Antes de empezar a trabajar con la BBDD de Northwind, conozcamos un poco las BBDD que tenemos en nuestro servidor. ¿Qué BBDD tenemos en nuestro servidor?

In [15]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd

In [16]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='tienda')
cursor = cnx.cursor()

query = ("SHOW DATABASES")
cursor.execute(query)
for x in cursor:
  print(x)
  break #lo hemos parado para poder manejar mejor la hoja de ejercicios

cnx.close()

('anacosas',)

Empezemos a explorar la BBDD de Northwind. ¿Qué tablas componen la BBDD? Recuerda que primero nos tendremos que conectar con la BBDD sobre la que queremos trabajar. Guarda el resultado de los nombres de la tablas en una lista.

In [13]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='Northwind')
cursor = cnx.cursor()

query = ("SHOW TABLES")
cursor.execute(query)
tablas=cursor.fetchall()
print(tablas)


cnx.close()

[('categories',), ('customer_customer_demo',), ('customer_demographics',), ('customers',), ('employee_territories',), ('employees',), ('order_details',), ('orders',), ('products',), ('region',), ('shippers',), ('suppliers',), ('territories',)]

¿Qué columnas tiene cada una de las tablas? Para esto tendréis que hacer un for loop para que nos saque el resultado de todas las columnas

In [14]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='Northwind')
cursor = cnx.cursor()
query = ("SHOW TABLES")
query2=('select* from %s')


cursor.execute(query)
#tablas=cursor.fetchall()
#for x in tablas:
cursor.execute(query)
columnas=cursor.fetchall()

for i in tablas[:]:
        cursor.execute(query2,(i))
        cursor.fetcchall()
print(columnas)
        


cnx.close()

InternalError: Unread result found

Hagamos unas queries facilitas:
Extraed el primer pedido donde se ha gastado más. Devolved el id del pedido y la cantidad gastada.

In [20]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='Northwind')
cursor = cnx.cursor()

query = ("""SELECT order_id,sum(unit_price*quantity) FROM order_details GROUP BY order_id ORDER BY sum(unit_price*quantity)DESC LIMIT 1""")
cursor.execute(query)

pedido_maximo=cursor.fetchall()
print(pedido_maximo)

#con el operador max no nos sale el valor maximo rela de cada factura, solo del sumatorio de cada producto, no del total de cada factura
# ("""SELECT order_id, max(unit_price*quantity) FROM order_details""")
cnx.close()

[(10865, 17250.0)]

Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados.

In [19]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='Northwind')
cursor = cnx.cursor()

query = ("""SELECT order_id,sum(unit_price*quantity) FROM order_details GROUP BY order_id ORDER BY sum(unit_price*quantity)DESC LIMIT 20""")
cursor.execute(query)
#PARA VISUALIZAR TODOS, RETIRARIAMOS EL LIMITE ES UNA CONSULTA MUY EXTENSA
pedidos=cursor.fetchall()
print(pedidos)


cnx.close()

[(10865, 17250.0), (11030, 16321.900000000001), (10981, 15810.0), (10372, 12281.2), (10424, 11493.2), (10817, 11490.7), (10889, 11380.0), (10417, 11283.2), (10897, 10835.240000000002), (10353, 10741.6), (10515, 10588.5), (10479, 10495.6), (10540, 10191.7), (10691, 10164.8), (11032, 8902.5), (10816, 8891.0), (10514, 8623.45), (10912, 8267.400000000001), (10360, 7390.2), (10776, 6984.5)]

In [16]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='Northwind')
cursor = cnx.cursor()

query = ("""select sum(unit_price*quantity),order_id 
from order_details
group by order_id""")
cursor.execute(query)
#PARA VISUALIZAR TODOS, RETIRARIAMOS EL LIMITE ES UNA CONSULTA MUY EXTENSA
pedidos=cursor.fetchall()
print(pedidos)


cnx.close()

[(440.0, 10248), (1863.4, 10249), (1813.0, 10250), (670.8, 10251), (3730.0, 10252), (1444.8000000000002, 10253), (625.2, 10254), (2490.5, 10255), (517.8, 10256), (1119.9, 10257), (2018.6, 10258), (100.8, 10259), (1746.2, 10260), (448.0, 10261), (624.8, 10262), (2464.8, 10263), (724.5, 10264), (1176.0, 10265), (364.79999999999995, 10266), (4031.0, 10267), (1101.2, 10268), (676.0, 10269), (1376.0, 10270), (48.0, 10271), (1456.0, 10272), (2142.4, 10273), (538.6, 10274), (307.2, 10275), (420.0, 10276), (1200.8, 10277), (1488.8, 10278), (468.0, 10279), (613.2, 10280), (86.5, 10281), (155.39999999999998, 10282), (1414.8000000000002, 10283), (1452.0, 10284), (2179.2, 10285), (3016.0, 10286), (924.0, 10287), (89.0, 10288), (479.4, 10289), (2169.0, 10290), (552.8, 10291), (1296.0, 10292), (848.7, 10293), (1887.6000000000001, 10294), (121.6, 10295), (1050.6, 10296), (1420.0, 10297), (3127.0, 10298), (349.5, 10299), (608.0, 10300), (755.0, 10301), (2708.7999999999997, 10302), (1242.0, 10303), (954.4, 10304), (4157.0, 10305), (498.5, 10306), (424.0, 10307), (88.8, 10308), (1762.0, 10309), (336.0, 10310), (268.79999999999995, 10311), (1614.8, 10312), (182.39999999999998, 10313), (2327.0, 10314), (516.8, 10315), (2835.0, 10316), (288.0, 10317), (240.4, 10318), (1191.1999999999998, 10319), (516.0, 10320), (144.0, 10321), (112.0, 10322), (164.4, 10323), (6155.9, 10324), (1497.0, 10325), (982.0, 10326), (2262.5, 10327), (1168.0, 10328), (4819.400000000001, 10329), (1940.0, 10330), (88.5, 10331), (2233.6, 10332), (954.0, 10333), (144.8, 10334), (2545.2, 10335), (316.8, 10336), (2467.0, 10337), (934.5, 10338), (3463.2, 10339), (2564.4, 10340), (412.0, 10341), (2300.8, 10342), (1586.0, 10343), (2856.0, 10344), (2924.8, 10345), (1731.2, 10346), (928.0, 10347), (396.0, 10348), (141.60000000000002, 10349), (713.4, 10350), (5677.6, 10351), (154.0, 10352), (10741.6, 10353), (568.8, 10354), (480.0, 10355), (1106.4, 10356), (1360.0, 10357), (452.0, 10358), (3654.4, 10359), (7390.2, 10360), (2273.6, 10361), (1549.6, 10362), (447.2, 10363), (950.0, 10364), (403.20000000000005, 10365), (136.0, 10366), (834.1999999999999, 10367), (1834.2, 10368), (2527.2, 10369), (1174.0, 10370), (91.19999999999999, 10371), (12281.2, 10372), (1708.0, 10373), (459.0, 10374), (338.0, 10375), (420.0, 10376), (1016.0, 10377), (103.19999999999999, 10378), (959.2, 10379), (1419.8, 10380), (112.0, 10381), (2900.0, 10382), (899.0, 10383), (2222.3999999999996, 10384), (864.0, 10385), (166.0, 10386), (1058.4, 10387), (1274.0, 10388), (1832.8, 10389), (2275.2, 10390), (86.39999999999999, 10391), (1440.0, 10392), (3302.6000000000004, 10393), (442.0, 10394), (2333.2000000000003, 10395), (1903.8000000000002, 10396), (843.1999999999999, 10397), (2736.0, 10398), (1765.6, 10399), (3063.0, 10400), (3868.6, 10401), (2713.5, 10402), (1005.9000000000001, 10403), (1675.0, 10404), (400.0, 10405), (2018.2, 10406), (1194.0, 10407), (1622.4, 10408), (319.20000000000005, 10409), (802.0, 10410), (1208.5, 10411), (372.0, 10412), (2123.2, 10413), (231.4, 10414), (102.4, 10415), (720.0, 10416), (11283.2, 10417), (1814.8, 10418), (2208.0, 10419), (1897.6, 10420), (1273.2, 10421), (49.8, 10422), (1020.0, 10423), (11493.2, 10424), (480.0, 10425), (338.20000000000005, 10426), (651.0, 10427), (192.0, 10428), (1748.5, 10429), (5796.0, 10430), (2523.0, 10431), (485.0, 10432), (851.1999999999999, 10433), (360.0, 10434), (631.6, 10435), (2210.8, 10436), (393.0, 10437), (567.5, 10438), (1078.0, 10439), (5793.1, 10440), (1755.0, 10441), (1792.0, 10442), (537.5999999999999, 10443), (1031.7, 10444), (174.9, 10445), (273.6, 10446), (914.4, 10447), (443.4, 10448), (1838.2, 10449), (531.4, 10450), (4277.4, 10451), (2096.0, 10452), (453.0, 10453), (414.0, 10454), (2684.0, 10455), (656.0, 10456), (1584.0, 10457), (3891.0, 10458), (1688.0, 10459), (234.8, 10460), (2051.6, 10461), (156.00000000000003, 10462), (713.3, 10463), (1848.0, 10464), (2719.0, 10465), (216.0, 10466), (235.2, 10467), (717.6, 10468), (1125.5, 10469), (1820.8, 10470), (1328.0, 10471), (1051.1999999999998, 10472), (230.39999999999998, 10473), (1249.1, 10474), (1770.8000000000002, 10475), (182.4, 10476), (672.0, 10477), (496.0, 10478), (10495.6, 10479), (756.0, 10480), (1472.0, 10481), (147.0, 10482), (704.0, 10483), (386.2, 10484), (1760.0, 10485), (1272.0, 10486), (925.1, 10487), (1560.0, 10488), (502.20000000000005, 10489), (3163.2, 10490), (305.3, 10491), (896.0, 10492), (676.0, 10493), (912.0, 10494), (278.0, 10495), (200.0, 10496), (1380.6, 10497), (575.0, 10498), (1412.0, 10499), (550.8, 10500), (149.0, 10501), (816.3, 10502), (2048.5, 10503), (1388.5, 10504), (147.89999999999998, 10505), (462.0, 10506), (881.25, 10507), (240.0, 10508), (136.8, 10509), (4735.4400000000005, 10510), (3000.0, 10511), (618.0, 10512), (2427.5, 10513), (8623.45, 10514), (10588.5, 10515), (2614.5, 10516), (352.0, 10517), (4150.05, 10518), (2356.0, 10519), (200.0, 10520), (225.5, 10521), (2657.8, 10522), (2715.9, 10523), (3192.65, 10524), (846.0, 10525), (1344.0, 10526), (1670.0, 10527), (396.2, 10528), (946.0, 10529), (4180.0, 10530), (110.0, 10531), (796.35, 10532), (2295.2, 10533), (517.4, 10534), (2156.5, 10535), (2085.0, 10536), (1823.8, 10537), (139.8, 10538), (355.5, 10539), (10191.7, 10540), (2162.8, 10541), (493.8, 10542), (1770.0, 10543), (417.2, 10544), (210.0, 10545), (2812.0, 10546), (1908.0, 10547), (275.1, 10548), (4181.5, 10549), (749.0, 10550), (1836.0, 10551), (880.5, 10552), (1546.3, 10553), (1819.5, 10554), (3680.5, 10555), (835.1999999999999, 10556), (1152.5, 10557), (2142.9, 10558), (547.8, 10559), (1257.3, 10560), (2844.5, 10561), (543.0, 10562), (965.0, 10563), (1299.0, 10564), (711.0, 10565), (2040.0, 10566), (3109.0, 10567), (155.0, 10568), (977.5, 10569), (2595.0, 10570), (647.75, 10571), (1565.6499999999999, 10572), (2082.0, 10573), (764.3, 10574), (2147.4, 10575), (838.45, 10576), (569.0, 10577), (477.0, 10578), (317.75, 10579), (1067.1, 10580), (387.5, 10581), (330.0, 10582), (2413.9, 10583), (625.0, 10584), (142.5, 10585), (28.0, 10586), (807.38, 10587), (3900.0, 10588), (72.0, 10589), (1140.0, 10590), (812.5, 10591), (543.65, 10592), (2493.0, 10593), (565.5, 10594), (6300.0, 10595), (1476.1, 10596), (800.1, 10597), (2388.5, 10598), (493.0, 10599), (479.8, 10600), (2285.0, 10601), (65.0, 10602), (1508.0, 10603), (256.5, 10604), (4326.0, 10605), (1413.0, 10606), (6475.400000000001, 10607), (1064.0, 10608), (424.0, 10609), (399.0, 10610), (808.0, 10611), (6375.0, 10612), (358.0, 10613), (464.0, 10614), (120.0, 10615), (5032.0, 10616), (1650.0, 10617), (2697.5, 10618), (1260.0, 10619), (57.5, 10620), (758.5, 10621), (605.0, 10622), (1429.75, 10623), (1393.24, 10624), (479.75, 10625), (1503.6, 10626), (1264.5, 10627), (450.0, 10628), (2775.05, 10629), (918.0, 10630), (62.0, 10631), (620.0, 10632), (6483.05, 10633), (4985.5, 10634), (1380.25, 10635), (629.5, 10636), (2896.25, 10637), (2720.05, 10638), (500.0, 10639), (945.0, 10640), (2054.0, 10641), (870.0, 10642), (1086.0, 10643), (1422.0, 10644), (1535.0, 10645), (1928.0, 10646), (636.0, 10647), (382.5, 10648), (1434.0, 10649), (1820.1999999999998, 10650), (530.4, 10651), (331.78, 10652), (1203.5, 10653), (668.7, 10654), (193.0, 10655), (671.35, 10656), (4371.6, 10657), (4668.0, 10658), (1291.6, 10659), (1701.0, 10660), (703.25, 10661), (125.0, 10662), (2032.0, 10663), (1515.75, 10664), (1295.0, 10665), (4666.9400000000005, 10666), (1921.0, 10667), (694.75, 10668), (570.0, 10669), (2301.75, 10670), (920.1, 10671), (4210.5, 10672), (412.35, 10673), (45.0, 10674), (1423.0, 10675), (534.85, 10676), (956.9, 10677), (5256.5, 10678), (660.0, 10679), (1682.5, 10680), (1327.0, 10681), (375.5, 10682), (63.0, 10683), (1768.0, 10684), (801.1, 10685), (1638.45, 10686), (6201.9, 10687), (3490.0, 10688), (630.0, 10689), (1150.0, 10690), (10164.8, 10691), (878.0, 10692), (2334.0, 10693), (4825.0, 10694), (642.0, 10695), (996.0, 10696), (1073.9, 10697), (3600.73, 10698), (114.0, 10699), (2048.0, 10700), (3370.0, 10701), (330.0, 10702), (2545.0, 10703), (595.5, 10704), (378.0, 10705), (1893.0, 10706), (1704.0, 10707), (180.4, 10708), (3424.0, 10709), (93.5, 10710), (4451.7, 10711), (1238.4, 10712), (2827.9, 10713), (2941.0, 10714), (1296.0, 10715), (706.0, 10716), (1331.75, 10717), (3463.0, 10718), (1125.67, 10719), (550.0, 10720), (972.5, 10721), (1570.0, 10722), (468.45, 10723), (638.5, 10724), (287.8, 10725), (655.0, 10726), (1710.0, 10727), (1296.75, 10728), (1850.0, 10729), (509.75, 10730), (1990.0, 10731), (360.0, 10732), (1459.0, 10733), (1498.35, 10734), (596.0, 10735), (997.0, 10736), (139.8, 10737), (52.349999999999994, 10738), (240.0, 10739), (1770.0, 10740), (285.0, 10741), (3118.0, 10742), (336.0, 10743), (919.9999999999999, 10744), (4529.8, 10745), (2311.7, 10746), (1912.85, 10747), (2196.0, 10748), (1080.0, 10749), (1871.25, 10750), (1701.46, 10751), (252.0, 10752), (88.0, 10753), (55.199999999999996, 10754), (2598.0, 10755), (2487.5, 10756), (3082.0, 10757), (1644.6, 10758), (320.0, 10759), (3304.0, 10760), (629.5, 10761), (4337.0, 10762), (616.0, 10763), (2540.0, 10764), (1684.0, 10765), (2310.0, 10766), (28.0, 10767), (1477.0, 10768), (1704.0, 10769), (315.0, 10770), (344.0, 10771), (3603.2200000000003, 10772), (2216.25, 10773), (875.0, 10774), (228.0, 10775), (6984.5, 10776), (280.0, 10777), (96.5, 10778), (1335.0, 10779), (720.0, 10780), (1132.35, 10781), (12.5, 10782), (1442.5, 10783), (1650.0, 10784), (387.5, 10785), (1913.85, 10786), (2760.8, 10787), (770.0, 10788), (3687.0, 10789), (850.0, 10790), (1926.0600000000002, 10791), (399.85, 10792), (191.1, 10793), (393.45, 10794), (2499.25, 10795), (2878.08, 10796), (420.0, 10797), (446.6, 10798), (1585.0, 10799), (1632.15, 10800), (4035.8, 10801), (3923.75, 10802), (1255.8, 10803), (2290.4, 10804), (2775.0, 10805), (572.1, 10806), (18.4, 10807), (1660.0, 10808), (140.0, 10809), (187.0, 10810), (852.0, 10811), (1852.0, 10812), (648.0, 10813), (2070.0, 10814), (40.0, 10815), (8891.0, 10816), (11490.7, 10817), (833.0, 10818), (477.0, 10819), (1140.0, 10820), (678.0, 10821), (237.89999999999998, 10822), (3107.5, 10823), (250.8, 10824), (1030.76, 10825), (730.0, 10826), (843.0, 10827), (932.0, 10828), (1764.0, 10829), (1974.0, 10830), (2684.4, 10831), (568.95, 10832), (1007.7, 10833), (1508.12, 10834), (851.0, 10835), (4705.5, 10836), (1254.0, 10837), (2584.5, 10838), (919.5, 10839), (264.0, 10840), (4581.0, 10841), (975.0, 10842), (212.0, 10843), (735.0, 10844), (4059.0, 10845), (1112.0, 10846), (6164.9, 10847), (931.5, 10848), (1052.1399999999999, 10849), (740.0, 10850), (2740.0, 10851), (2984.0, 10852), (625.0, 10853), (3490.0, 10854), (2275.25, 10855), (660.0, 10856), (2630.95, 10857), (649.0, 10858), (1438.25, 10859), (519.0, 10860), (3523.4, 10861), (581.0, 10862), (519.0, 10863), (282.0, 10864), (17250.0, 10865), (1461.6, 10866), (98.39999999999999, 10867), (2004.6, 10868), (1630.0, 10869), (160.0, 10870), (2083.4, 10871), (2166.8, 10872), (336.8, 10873), (310.0, 10874), (729.5, 10875), (917.0, 10876), (2086.0, 10877), (1620.0, 10878), (611.3, 10879), (1875.0, 10880), (150.0, 10881), (988.4, 10882), (36.0, 10883), (1450.6, 10884), (1209.0, 10885), (3127.5, 10886), (70.0, 10887), (605.0, 10888), (11380.0, 10889), (860.1, 10890), (388.35, 10891), (2200.0, 10892), (5502.11, 10893), (2898.0, 10894), (6379.4, 10895), (750.5, 10896), (10835.240000000002, 10897), (30.0, 10898), (144.0, 10899), (45.0, 10900), (934.5, 10901), (1015.8, 10902), (932.05, 10903), (1924.25, 10904), (360.0, 10905), (427.5, 10906), (108.5, 10907), (698.0, 10908), (670.0, 10909), (452.9, 10910), (858.0, 10911), (8267.400000000001, 10912), (958.75, 10913), (537.5, 10914), (539.5, 10915), (686.7, 10916), (365.89, 10917), (1930.0, 10918), (1122.8, 10919), (390.0, 10920), (1936.0, 10921), (742.5, 10922), (936.0, 10923), (2034.5, 10924), (559.0, 10925), (514.4, 10926), (800.0, 10927), (137.5, 10928), (1174.75, 10929), (2455.0, 10930), (837.0, 10931), (1925.4999999999998, 10932), (920.6, 10933), (500.0, 10934), (700.0, 10935), (570.0, 10936), (644.8, 10937), (3642.5, 10938), (750.0, 10939), (360.0, 10940), (4769.0, 10941), (560.0, 10942), (711.0, 10943), (1139.1, 10944), (245.0, 10945), (1407.5, 10946), (220.0, 10947), (2362.25, 10948), (4422.0, 10949), (110.0, 10950), (482.9, 10951), (491.2, 10952), (4675.0, 10953), (1902.1, 10954), (93.0, 10955), (677.0, 10956), (1762.7, 10957), (781.0, 10958), (155.0, 10959), (276.6, 10960), (1122.0, 10961), (3584.0, 10962), (68.0, 10963), (2052.5, 10964), (848.0, 10965), (1255.6, 10966), (910.4, 10967), (1408.0, 10968), (108.0, 10969), (280.0, 10970), (1733.0600000000002, 10971), (251.5, 10972), (291.55, 10973), (439.0, 10974), (717.5, 10975), (912.0, 10976), (2233.0, 10977), (1500.7, 10978), (4813.5, 10979), (310.0, 10980), (15810.0, 10981), (1014.0, 10982), (796.5, 10983), (1809.75, 10984), (2248.2, 10985), (2220.0, 10986), (2772.0, 10987), (3772.0, 10988), (1353.6, 10989), (4931.0, 10990), (2870.0, 10991), (69.6, 10992), (6527.25, 10993), (990.0, 10994), (1196.0, 10995), (560.0, 10996), (1980.0, 10997), (686.0, 10998), (1261.0, 10999), (1075.0, 11000), (2769.0, 11001), (1902.0, 11002), (326.0, 11003), (295.38, 11004), (586.0, 11005), (391.58000000000004, 11006), (2633.9, 11007), (4903.5, 11008), (702.0, 11009), (645.0, 11010), (960.0, 11011), (2974.0, 11012), (361.0, 11013), (270.2, 11014), (622.35, 11015), (491.5, 11016), (6750.0, 11017), (1575.0, 11018), (76.0, 11019), (744.0, 11020), (6941.49, 11021), (1402.0, 11022), (1500.0, 11023), (1966.81, 11024), (300.0, 11025), (1030.0, 11026), (1170.3, 11027), (2160.0, 11028), (1286.8, 11029), (16321.900000000001, 11030), (2393.5, 11031), (8902.5, 11032), (3592.0, 11033), (554.4, 11034), (1754.5, 11035), (1692.0, 11036), (60.0, 11037), (751.0, 11038), (3090.0, 11039), (200.0, 11040), (1887.0, 11041), (405.75, 11042), (210.0, 11043), (591.5999999999999, 11044), (1309.5, 11045), (1564.0, 11046), (1090.5, 11047), (525.0, 11048), (342.0, 11049), (900.0, 11050), (45.0, 11051), (1665.0, 11052), (3658.75, 11053), (305.0, 11054), (1727.5, 11055), (3740.0, 11056), (45.0, 11057), (858.0, 11058), (1838.0, 11059), (266.0, 11060), (510.0, 11061), (508.0, 11062), (1445.5, 11063), (4722.3, 11064), (252.56, 11065), (928.75, 11066), (86.85000000000001, 11067), (2384.8, 11068), (360.0, 11069), (1873.5, 11070), (510.0, 11071), (5218.0, 11072), (300.0, 11073), (244.29999999999998, 11074), (586.0, 11075), (1057.0, 11076), (1374.6, 11077)]

Extraed el números de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe.

In [41]:

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='Northwind')
cursor = cnx.cursor()

query = ("""SELECT count(order_id), order_date FROM orders GROUP BY day(order_date)""")
cursor.execute(query)
pedidos_dia=cursor.fetchall()
df = pd.DataFrame(pedidos_dia)
display(df)



cnx.close()

     0          1
0   27 1996-07-04
1   31 1996-07-05
2   21 1996-07-08
3   31 1996-07-09
4   28 1996-07-10
5   27 1996-07-11
6   28 1996-07-12
7   22 1996-07-15
8   32 1996-07-16
9   29 1996-07-17
10  26 1996-07-18
11  29 1996-07-19
12  26 1996-07-22
13  30 1996-07-23
14  30 1996-07-24
15  26 1996-07-25
16  30 1996-07-26
17  23 1996-07-29
18  29 1996-07-30
19  14 1996-07-31
20  26 1996-08-01
21  27 1996-08-02
22  33 1996-08-06
23  22 1996-08-07
24  25 1996-08-13
25  25 1996-08-14
26  27 1996-08-20
27  22 1996-08-21
28  32 1996-08-27
29  22 1996-08-28
30  30 1996-09-03

Extraed los pedidos hechos por "Nancy Davolio"

In [44]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='Northwind')
cursor = cnx.cursor()

query = ("""SELECT employees.employee_id,employees.first_name,employees.last_name,orders.order_id
FROM employees
LEFT JOIN orders
ON orders.employee_id=employees.employee_id
WHERE first_name='Nancy' and last_name='Davolio'
ORDER BY order_id""")

cursor.execute(query)
pedidos_dia=cursor.fetchall()
df = pd.DataFrame(pedidos_dia)
display(df)
#Esta presentación nos parece más legible


cursor.close()
cnx.close()

     0      1        2      3
0    1  Nancy  Davolio  10258
1    1  Nancy  Davolio  10270
2    1  Nancy  Davolio  10275
3    1  Nancy  Davolio  10285
4    1  Nancy  Davolio  10292
..  ..    ...      ...    ...
118  1  Nancy  Davolio  11064
119  1  Nancy  Davolio  11067
120  1  Nancy  Davolio  11069
121  1  Nancy  Davolio  11071
122  1  Nancy  Davolio  11077

[123 rows x 4 columns]

Para finalizar el ejercicio, desconectad la conexión con el servidor.

In [45]:
cursor.close()
cnx.close()
#Lo hemos ido cerrando tras cada consulta :))